.chakra-alert {
  padding: 32px 24px !important;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 14px;
  box-shadow: 0 0 30px rgb(0 0 0 / 60%);
  background-color: #0b2f28;
  color: white;
  font-size: 16px;
  line-height: 26px;
}
