#root {
  // font-family: "Berkshire Swash" !important;

  main {
    .page-banner {
      height: 92px;
      background-image: url("~/src/assets/images/hero/main-top.svg");
      color: white;
      font-weight: 200;
      letter-spacing: 0.5px;
    }

    section.one {
      padding: 50px 0;

      h1 {
        margin-bottom: 64px;
      }

      p {
        padding-bottom: 36px;
      }
    }

    section.second {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 96px;
      margin-bottom: 156px;
      height: 400px;
      background-image: url(./images/section-second.svg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      text-shadow: 0 2px 4px rgb(0 0 0 / 50%);

      .title {
        position: absolute;
        top: -64px;
        right: 156px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 512px;
        height: 165px;
        background-image: url(./images/section-second-title.svg);
        background-repeat: no-repeat;
        background-position: -10% 50%;
        background-size: cover;
        color: white;
      }

      .description {
        width: 470px;
        color: white;
      }

      .stone {
        position: absolute;
        right: 214px;
        bottom: -57px;
        width: 148px;
        height: 114px;
        background-image: url(./images/section-second-stone.svg);
        background-repeat: no-repeat;
        background-position: -10% 50%;
        background-size: cover;
      }
    }

    section.third {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 96px;
      margin-bottom: 196px;
      padding: 4rem 0;
      background-color: white;

      .title {
        position: absolute;
        top: -96px;
        right: 156px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 512px;
        height: 165px;
        background-image: url(./images/section-third.svg);
        background-repeat: no-repeat;
        background-position: -10% 50%;
        background-size: contain;
        color: white;
      }

      .quarter {
        margin-bottom: 1rem;
        color: #021425;
      }

      .leaf {
        position: absolute;
        right: 214px;
        bottom: -57px;
        width: 112px;
        height: 170px;
        background-image: url(./images/section-third-leaf.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  &.mobile {
    section.second {
      .title {
        right: 0;
        width: 100%;
      }

      .description {
        width: 100%;
      }

      .stone {
        right: 0;
      }
    }

    section.third {
      .title {
        right: 8px;
        width: 95%;
      }

      .leaf {
        right: 10px;
      }
    }
  }
}
