#root {
  // font-family: "Berkshire Swash" !important;

  main {
    .page-banner {
      height: 92px;
      background-image: url("~/src/assets/images/hero/main-top.svg");
      color: white;
    }

    section.one {
      padding: 50px 0;

      h1 {
        margin-bottom: 64px;
      }

      p {
        padding-bottom: 36px;
      }
    }

    section.second {
      margin-top: 96px;
      margin-bottom: 496px;
      height: 400px;
      background-image: url(./images/section-second.svg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
  }
}
