#root {
  // font-family: "Berkshire Swash" !important;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .home-hero {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      min-height: 960px;
      background-color: #210002;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    .home-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -1px;
      background-color: #210002;

      .play-now {
        width: 215px;
        height: 44px;
        border-radius: 22px;
        background: linear-gradient(263.62deg, #ffc633 33.34%, #ffae1b 65.52%);
        font-size: 17px;
        font-weight: 700;
        line-height: 20px;
      }

      .extensions {
        display: flex;
        margin-top: 54px;

        img {
          margin: 0 32px;
        }
      }
    }

    .home-become-ranger {
      margin-bottom: 116px;
      padding-top: 300px;
      background: linear-gradient(0deg, #0a2f28 18.13%, #092520 44.57%, #210002 100%);

      .what-is-wildalo {
        margin-top: 220px;
      }

      .overflow {
        width: 220px;
        height: 220px;
      }

      .animal-first {
        transform: translateX(-80px);

        &:hover {
          transform: translateX(-80px) scale(1.1) !important;
        }
      }

      .animal-middle {
        left: calc(50% - 110px);
      }

      .animal-last {
        transform: translateX(80px);

        &:hover {
          transform: translateX(80px) scale(1.1) !important;
        }
      }
    }
  }

  &.mobile {
    section.second {
      .title {
        right: 0;
        width: 100%;
      }

      .description {
        width: 100%;
      }

      .stone {
        right: 0;
      }
    }

    section.third {
      .title {
        right: 8px;
        width: 95%;
      }

      .leaf {
        right: 10px;
      }
    }
  }
}
