.animal-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  width: 270px;
  height: 480px;

  .level {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    height: 48px;
    background-image: url("./images/common/level-background.svg");

    .level-title {
      color: #9ba2a0;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: normal;
    }

    .level-value {
      color: #30332e;
      font-size: 28px;
      line-height: 100%;
    }
  }

  .animal-name {
    overflow: hidden;
    border-radius: 12px;
    color: white;
    font-family: var(--font-family-title);
    font-size: 24px;
  }

  .animal-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    &.card-type-common {
      background-image: url("./images/common/animal-card-bg-01.png");
    }

    &.card-type-rare {
      background-image: url("./images/common/animal-card-bg-02.png");
    }

    &.card-type-exotic {
      background-image: url("./images/common/animal-card-bg-03.png");
    }
  }

  .animal-picture {
    position: relative;
    z-index: -2;
    width: 100%;
    height: 184px;
  }

  .region {
    position: relative;
    z-index: 1;
    margin-top: -20px;
    width: 172px;
    height: 34px;
  }

  .stats {
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: var(--font-600);
    font-size: 14px;
    line-height: 18px;

    .prop {
      position: relative;
      display: flex;
      align-items: center;

      .item-value {
        padding-left: 20px;
        font-size: 24px;
        font-weight: 800;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 100%;
        background-image: url("~/public/images/stats/shadow.png");
        background-repeat: no-repeat;
        background-position-y: bottom;
      }
    }
  }
}
