.animal-card {
  margin-bottom: 24px;
  width: 274px;
  height: 484px;
  border: 1px solid red;

  .animal-level {

  }

  .animal-name {
    overflow: hidden;
    border: 1px solid red;
    border-radius: 12px;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 6px 24px rgb(93 62 188 / 4%);
    background-color: var(--white);
    color: var(--font-600);
    font-size: 14px;
    line-height: 18px;
  }
}
