.hero {
  display: flex;
  padding-top: 40px;

  .hero-left-side {
    position: relative;
    display: flex;
    min-height: 480px;
    width: 100%;

    .ac {
      position: absolute;
      flex-shrink: 0;
      box-shadow: 0 0 10px rgb(0 0 0 / 40%);
      transition: all 0.2s;

      &:hover {
        transform: scale(1.1) !important;
        box-shadow: 0 0 40px rgb(0 0 0 / 40%);
      }
    }

    .animal-first {
      left: 10px;

      &:hover {
        transform: scale(0.8) !important;
      }
    }

    .animal-middle {
      left: calc(50% - 135px);
      z-index: 1;
    }

    .animal-last {
      right: 10px;

      &:hover {
        transform: scale(0.8) !important;
      }
    }
  }

  .hero-right-side {
    text-align: center;

    .hero-title {
      padding-top: 64px;
      line-height: 65px;
      text-align: center;
    }

    .hero-description {
      color: white;
      font-family: var(--font-family-ubuntu);
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    }

    .hero-slogan {
      padding-top: 46px;
      padding-bottom: 28px;
    }

    .hero-sign {
      margin-bottom: 25px;
      width: 168px;
    }
  }

  &.mobile {
    flex-direction: column;
    align-items: center;

    .hero-left-side {
      .animal-first {
        left: -32px;
      }

      .animal-middle {
        transform: scale(0.85) !important;

        &:hover {
          transform: scale(0.95) !important;
        }
      }

      .animal-last {
        right: -32px;
      }
    }
  }
}
