.footer {
  position: relative;
  flex-direction: column;
  background-color: #09241f;
  background-image: url(~/public/images/common/footer-wildalo-only-logo.svg);
  background-repeat: no-repeat;
  background-position: right bottom;

  .footer-terms-and-socials {
    margin-bottom: 48px;

    .socials {
      display: flex;
      align-items: center;

      .social {
        width: 24px;
        height: 24px;
        background-color: white;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        margin: 0;
      }
    }
  }
}
