.page-container {
  .page-title {
    background-clip: text;
    background-image: linear-gradient(rgb(255 255 255 / 0%) 15%, rgb(255 255 255 / 4%) 54%, rgb(255 255 255 / 10%) 100%);
    -webkit-text-fill-color: transparent;
  }
}
