#root {
  // font-family: "Berkshire Swash" !important;

  main {
    .page-banner {
      height: 92px;
      background-image: url("~/src/assets/images/hero/main-top.svg");
      color: white;
    }
  }
}
