/**
ScrollBar
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  // background: rgb(18 70 61 / 40%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 10px;
  background: #0f443a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/*
import '@fontsource/berkshire-swash';
import '@fontsource/ubuntu';
import '@fontsource/saira';
import '@fontsource/roboto';
import '@fontsource/roboto-slab';
*/

:root {
  --color: #1ea4ce;
  --color-dark: #147594;
  --font-family-title: 'Berkshire Swash';
  --font-family-body: 'Ubuntu';
  --font-animal-name: 'Saira';
  --font-family-roboto: 'Roboto';
  --font-family-roboto-slab: 'Roboto Slab';
  --font-500: #697488;
  --font-600: #525252;
  --font-700: #191919;
  --grid-gap: 24px;
  --grid-column: 4;
}

html {
  min-height: 100%;
  width: 100%;

  body {
    margin: 0;
    width: 100%;
    // height: 100%;
    // background: rgb(3 11 15);
    // background: linear-gradient(180deg, #030b0f 10%, #1e5e6e 18%, #1e6e53 25%, #030b0f 40%, #051012 56%, #051012 76%, #030b0f 86%, #1e6e53 100%);
    background-color: #0b2f28;
    // background-image: url(~/public/images/background.svg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;
    background-size: 100% 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

[drop-target] {
  &.dragging {
    &:hover {
      content: '';
    }
  }
}

[drop-zone] {
  box-sizing: border-box;
  transition: all 0.2s;

  &::before {
    transition: all 0.2s;
  }

  &.drag-over {
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
    transform: scale(0.97);
    opacity: 0.5;

    &::before {
      --padding: -5px;

      content: '';
      position: absolute;
      top: var(--padding);
      right: var(--padding);
      bottom: var(--padding);
      left: var(--padding);
      z-index: 1;
      border: 1px dashed rgb(255 255 255 / 100%);
      border-radius: 15px;
    }
  }
}

.dragging {
  opacity: 0.5;
  transform: scale(0.9);
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.modal-content {
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 14px !important;
  box-shadow: 0 0 30px rgb(0 0 0 / 60%) !important;
  background-color: #0b2f28;

  .header {
    margin-bottom: 30px;
    padding: 30px 42px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
  }

  .close {
    color: #ffffff;
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 24px 42px;
    // padding-bottom: 24px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
}
